<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Story View</title>
    <!-- swiper -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />

    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  </head>
  <body>
    <h1>instagram</h1>
    <h2>slack github notification test</h2>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">slide 1</div>
        <div class="swiper-slide">slide 2</div>
        <div class="swiper-slide">slide 3</div>
        <div class="swiper-slide">slide 4</div>
      </div>
      <div class="swiper-scrollbar"></div>
    </div>
    <script>
      const swiper = new Swiper('.swiper', {
        direction: 'vertical',
        loop: false,
        mousewheel: true,
      });
    </script>
  </body>
</html>
