<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- swiper -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />

    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <!-- fontawesome -->
    <script
      src="https://kit.fontawesome.com/b29f947491.js"
      crossorigin="anonymous"
    ></script>
    <!-- jquery -->
    <script
      src="https://code.jquery.com/jquery-3.6.4.min.js"
      integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
      crossorigin="anonymous"
    ></script>
    <!-- css -->
    <link rel="stylesheet" href="/static/css/jihyo/story.css" />
  </head>
  <body>
    <div class="home-logo">
      <a href="/views/Jin/content.ejs">
        <i
          data-visualcompletion="css-img"
          aria-label="Instagram"
          class=""
          role="img"
          style="
            background-image: url('https://static.cdninstagram.com/rsrc.php/v3/yb/r/yBq7NPWKT2Z.png');
            background-position: 0px -30px;
            background-size: 104px 254px;
            width: 103px;
            height: 29px;
            background-repeat: no-repeat;
            display: inline-block;
          "
        ></i>
      </a>
    </div>
    <div class="swiper-container">
      <div class="swiper">
        <div class="story-header">
          <div class="story-profile-image"></div>
          <div class="story-profile-id">user id</div>
          <button type="button" id="btn-play">
            <i class="fa-solid fa-pause fa-2x" style="color: #ffffff"></i>
          </button>
        </div>
        <div class="swiper-wrapper">
          <% for (let i = 0; i < 18; i++) {%>
          <div class="swiper-slide">
            <img
              src="/static/src/images/story/story-<%=i %>.jpg"
              alt="story-image-<%=i %>"
            />
          </div>
          <% }%>
        </div>
        <!-- pagination -->
        <div class="swiper-pagination"></div>
      </div>
      <!-- slide button -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>

    <div class="btn-close">
      <a href="/views/Jin/content.ejs"
        ><i class="fa-solid fa-xmark fa-4x" style="color: #ffffff"></i
      ></a>
    </div>
    <script src="/static/js/story.js"></script>
  </body>
</html>
