<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- 서버에서 보내준 키 값의 value를 출력 -->
    <!-- Adjust image's relative path-->
    <img src="../static/src/Jin/post/posts-<%= imgNum %>.jpg" alt="" />
  </body>
</html>
