<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Instagram Clone</title>

    <style>
      main {
        display: flex;
        flex-direction: row;
        width: 100vw;
      }
    </style>

    <!-- Favicon from web image -->
    <link
      rel="shortcut icon"
      href="https://static.cdninstagram.com/rsrc.php/v3/yt/r/30PrGfR3xhB.png"
    />
  </head>

  <body>
    <header></header>
    <main>
      <!-- Nav bar -->
      <%- include("./includes/nav") %>

      <!-- Content -->
      <%- include("./Jin/content") %>
    </main>

    <footer></footer>
  </body>
</html>
