<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Instagram Clone</title>

    <style>
      main {
      display: flex;
      flex-direction: row;
      width: 100vw;
      }
    </style>
  </head>

  <body>
  <header></header>

  <main>
    <!-- Nav bar -->
    <%- include("./includes/nav") %>

    <!-- Content -->
    <%- include("./Jin/content") %>
  </main>

  <footer></footer>
  </body>
  </html>