<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>instagram comment</title>
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/basic.css" />
    <link rel="stylesheet" href="../static/css/reset.css" />
    <script
      src="https://kit.fontawesome.com/95c6c2038b.js"
      crossorigin="anonymous"
    ></script>
    <script defer src="../static/js/main.js"></script>
  </head>
  <body>
    <div class="wrap">
      <!-- header -->
      <header class="header">
        <div class="header_wrap">
          <div class="inner">
            <h1 class="logo">
              <span
                ><img
                  src="../static/src/1600px-Instagram_logo.svg.png"
                  alt="main_logo"
              /></span>
            </h1>
            <nav class="nav">
              <ul class="link_list">
                <li>
                  <i class="fa-solid fa-compass"></i>
                </li>
                <li>
                  <i class="fa-solid fa-heart"></i>
                </li>
                <li>
                  <i class="fa-solid fa-circle-user"></i>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </header>
      <!-- //header -->
      <!-- main -->
      <div class="main">
        <div class="container">
          <!--left -->
          <div class="contents_left">
            <div class="inner">
              <ul class="feeds_list">
                <li class="feeds_list_li">
                  <div class="feed_profile">
                    <div class="profile">
                      <img
                        src="../static/src/pexels-alexandra-folster-6307706.jpg"
                        alt="profile"
                        class="profile_img"
                      />
                      <p class="profile_id">아이디</p>
                    </div>
                    <div class="profile_add link_list">
                      <i class="fa-solid fa-bars"></i>
                    </div>
                  </div>
                  <div class="feed_box">
                    <img
                      src="../static/src/pexels-alexandra-folster-6307706.jpg"
                      alt="main_img"
                    />
                  </div>
                  <div class="feed_info">
                    <div class="feed_state">
                      <ul class="link_list">
                        <li>
                          <i class="fa-regular fa-heart"></i>
                        </li>
                        <li>
                          <i class="fa-regular fa-comment"></i>
                        </li>
                        <li>
                          <i class="fa-regular fa-paper-plane"></i>
                        </li>
                      </ul>
                      <div class="link_list">
                        <i class="fa-regular fa-bookmark"></i>
                      </div>
                    </div>
                    <div class="feed_comments">
                      <div class="feed_likes comments_margin">
                        <div class="likes_user profile">
                          <img
                            src="../static/src/pexels-alexandra-folster-6307706.jpg"
                            alt="profile"
                            class="profile_img"
                          />
                        </div>
                        <div class="comments_info">
                          <p class="comments_tit">
                            <span class="user_id">000</span>님
                            <span>외 <span class="likes_number">0</span>명</span
                            >이 좋아합니다.
                          </p>
                        </div>
                      </div>
                      <div class="comment_list comments_margin">
                        <ul class="comments_info comment_list_ul">
                          <li>
                            <div class="comments_tit">
                              <span class="user_id">대충 내용...</span>
                            </div>
                          </li>
                        </ul>
                        <div class="feed_time">
                          <p class="time">date</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- comment form -->
                  <form class="comments_form">
                    <div class="input_box">
                      <input
                        type="text"
                        placeholder="댓글달기..."
                        id="comment_input"
                      />
                    </div>
                    <div class="button_box">
                      <button type="button" class="btn" disabled="disabled">
                        <span class="">게시</span>
                      </button>
                    </div>
                  </form>
                  <!-- //comment form -->
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- //main -->
    </div>
  </body>
</html>
