<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>profile main</title>
  <!-- css -->
  <link rel="stylesheet" href="/static/css/main.css">
  <!-- font awasome -->
  <script src="https://kit.fontawesome.com/b29325fb21.js" crossorigin="anonymous"></script>
</head>

<body>
  <!-- profile-main : 바탕화면 -->
  <div class="profile_main">
    <!-- section : 컨테이너, 하단공백, 푸터 들어감 -->
    <section>
      <!-- container : 헤더, 하이라이트, 중간버튼, 콘텐츠 들어감 -->
      <div class="container">
        <!-- header : 프로필 상단 -->
        <header>
          <!-- header1 -->
          <div class="header1">
            <div class="profile-pic">
              <div class="profile-picture"><img class="pofile-picture" src="/static/src/bird.jpg" alt="오목눈이"></div>
            </div>
            <div class="profile-section">
              <div class="ps-row1">
                <h2 class="user-name">PHOENIX</h2>
                <button class="profile-edit">프로필 편집</button>
              </div>
              <!-- <div class="profile-list"> -->
              <ul class="ps-row2">
                <li class="contents-num proli">
                  <div>게시물 <span> 15</span></div>
                </li>
                <li class="follower proli">
                  <div>팔로워 <span> 56</span></div>
                </li>
                <li class="following proli">
                  <div>팔로우 <span> 36</span></div>
                </li>
              </ul>
              <!-- </div> -->
              <div class="ps-row3">
                <span class="user-name2">불사조</span>
                </br>
                <h5 class="profile-ment">동그랗다</h5>
              </div>
            </div>
          </div>
        </header>
        <!-- hilight 시작 -->
        <div class="hilight-shell">
          <div class="hilight-box">
            <ul class="hi-list">
              <li class="hili">
                <div class="hipicdiv"><img class="hipic" src="/static/src/bird.jpg" alt="">
                  <span class="hititle">Now_Playing</span>
                </div>
              </li>
              <li class="hili">
                <div class="hipicdiv"><img class="hipic" src="/static/src/bird.jpg" alt="">
                  <span class="hititle">Now_Playing</span>
                </div>
              </li>
              <li class="hili">
                <div class="hipicdiv"><img class="hipic" src="/static/src/bird.jpg" alt="">
                  <span class="hititle">Now_Playing</span>
                </div>
              </li>
              <li class="hili">
                <div class="hipicdiv"><img class="hipic" src="/static/src/bird.jpg" alt="">
                  <span class="hititle">Now_Playing</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!-- hilight 끝 -->
        <!-- divBar-button : 중간 구분선, 버튼 4개 -->
        <div class="divBar-button">
          <a href="#" class="btn uploaded"><i class="icon fa-solid fa-table-cells"></i>
            <span>게시물</span>
          </a>
          <a href="/contents" class="btn feed"><i class="icon fa-solid fa-scroll"></i>
            <span>피드</span>
          </a></a>
          <a href="#" class="btn bookmark"><i class="icon fa-regular fa-bookmark"></i>
            <span>저장됨</span>
          </a></a>
          <a href="#" class="btn tagged"><i class="icon fa-solid fa-image-portrait"></i>
            <span>태그됨</span>
          </a></a>
        </div>
        <hr class="underBar">
        <!-- contents-box : 컨텐츠 박스 시작 -->
        <div class="contents-box">
          <!-- content-row1 : 게시물 위에서부터 1열 -->
          <div class="content-row r1">
            <!-- 콘텐츠로우 1열에 콘텐트 3개 -->
            <!-- 콘텐츠는 일단 img로 채움 추후 링크로 변경예정 -->
            <div class="content c1-1">
              <img class="content-img" src="/static/src/bird.jpg" alt="">
            </div>
            <div class="content c1-2">
              <img class="content-img" src="/static/src/bird.jpg" alt="">
            </div>
            <div class="content c1-3">
              <img class="content-img" src="/static/src/bird.jpg" alt="">
            </div>
          </div>
          <!-- content-row2 : 게시물 2열 -->
          <div class="content-row r2">
            <div class="content c2-1">
              <img class="content-img" src="/static/src/bird.jpg" alt="">
            </div>
            <div class="content c2-2">
              <img class="content-img" src="/static/src/bird.jpg" alt="">
            </div>
            <div class="content c2-3">
              <img class="content-img" src="/static/src/bird.jpg" alt="">
            </div>
          </div>
          <!-- content-row3 : 게시물 3열 -->
          <div class="content-row r3">
            <div class="content c3-1">
              <img class="content-img" src="/static/src/bird.jpg" alt="">
            </div>
            <div class="content c3-2">
              <img class="content-img" src="/static/src/bird.jpg" alt="">
            </div>
            <div class="content c3-3">
              <img class="content-img" src="/static/src/bird.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
  </div>
  <!-- under-blank : 콘텐츠 - 푸터 사이 공백 -->
  <div class="under-blank"></div>
  <!-- footer : 이용약관, 도움말 ...  -->
  <footer>
    <div class="footer-div">
      <a href="#" class="footer-inner">Meta</a>
      <a href="#" class="footer-inner">소개</a>
      <a href="#" class="footer-inner">블로그</a>
      <a href="#" class="footer-inner">이용정보</a>
      <a href="#" class="footer-inner">도움말</a>
      <a href="#" class="footer-inner">API</a>
      <a href="#" class="footer-inner">개인정보처리방침</a>
      <a href="#" class="footer-inner">약관</a>
      <a href="#" class="footer-inner">인기계정</a>
      <a href="#" class="footer-inner">위치</a>
      <a href="#" class="footer-inner">Instagramm Lite</a>
      <a href="#" class="footer-inner">연락처 업로드 & 비사용자</a>
      <a href="#" class="footer-inner">Meta Verified</a>
    </div>
  </footer>
  </section>

  </div>

</body>

</html>