<!-- contents-box : 컨텐츠 박스 시작 -->
<div class="contents-box">
   <!-- content-row1 : 게시물 위에서부터 1열 -->
   <div class="content-row r1">
      <!-- 콘텐츠로우 1열에 콘텐트 3개 -->
      <!-- 콘텐츠는 일단 img로 채움 추후 링크로 변경예정 -->
      <div class="content c1-1">
         <img class="content-img" src="/static/src/puppy.jpg" alt="">
      </div>
      <div class="content c1-2">
         <img class="content-img" src="/static/src/puppy.jpg" alt="">
      </div>
      <div class="content c1-3">
         <img class="content-img" src="/static/src/puppy.jpg" alt="">
      </div>
   </div>
   <!-- content-row2 : 게시물 2열 -->
   <div class="content-row r2">
      <div class="content c2-1">
         <img class="content-img" src="/static/src/puppy.jpg" alt="">
      </div>
      <div class="content c2-2">
         <img class="content-img" src="/static/src/puppy.jpg" alt="">
      </div>
      <div class="content c2-3">
         <img class="content-img" src="/static/src/puppy.jpg" alt="">
      </div>
   </div>
   <!-- content-row3 : 게시물 3열 -->
   <div class="content-row r3">
      <div class="content c3-1">
         <img class="content-img" src="/static/src/puppy.jpg" alt="">
      </div>
      <div class="content c3-2">
         <img class="content-img" src="/static/src/puppy.jpg" alt="">
      </div>
      <div class="content c3-3">
         <img class="content-img" src="/static/src/puppy.jpg" alt="">
      </div>
   </div>
</div>